{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "extends": [
    "next/core-web-vitals",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:react-hook-form/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
      },
    ],
    "no-plusplus": "off",
    "newline-before-return": "error",
    "no-nested-ternary": "off",
    "no-continue": "off",
    "react/no-array-index-key": "off",
    "no-underscore-dangle": "off",
    "no-prototype-builtins": "off",
    "prefer-destructuring": ["error", { "array": true, "object": true }],
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "export" },
      { "blankLine": "always", "prev": "export", "next": "*" },
      { "blankLine": "always", "prev": "*", "next": "if" },
      { "blankLine": "always", "prev": "if", "next": "*" },
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "type-imports",
      },
    ],
    "global-require": "off",
    "no-restricted-syntax": "off",
    "jsx-a11y/media-has-caption": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/no-unknown-property": "off",
    "react/no-unescaped-entities": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-no-duplicate-props": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": ["off", { "devDependencies": true }],
  },
}
