@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  background-color: rgb(29, 29, 29);
  font-family: var(--var-openSans), serif;
  font-size: 25px;
  color: white;
}

main {
  padding: 40px 40px;
}

header {
  width: 100%;
  background-color: rgb(40, 64, 68);
  text-align: center;
  padding: 20px 0px;
}
